/* ==================================
    Media Queries
===================================== */

/* Target viewport sizes 1200px */

@media screen and (max-width: 1920px) {
  .btn1 {
    float: left;
    width: 33%;
  }
  .btn2 {
    float: left;
    width: 33%;
  }
  .btn3 {
    float: left;
    width: 33%;
  }
}

@media screen and (max-width: 1112px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: left;
    display: block;
  }
}

@media screen and (max-width: 1112px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: table;
    text-align: left;
  }
}

@media screen and (max-width: 1112px) {
  .btn1 {
    float: left;
    width: 100%;
  }
  .btn2 {
    float: left;
    width: 50%;
  }
  .btn3 {
    float: left;
    width: 50%;
  }
}

@media screen and (max-width: 812px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 812px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: table;
    text-align: left;
  }
}

@media screen and (max-width: 812px) {
  .btn1 {
    width: 100%;
  }
  .btn2 {
    width: 100%;
  }
  .btn3 {
    width: 100%;
  }
}
